h1{
  color: #8d51c3;
  text-align: center;
}

h2{
  color: #ba34ff;
  text-align: center;
}

h3{
  color: #5be48f;
}

p{
  color: #31d97c;
  font-size: 20px;

}

input{
  font-size: 25px;
}

.navbar{
  background-color: #75d5fd;
}

.btn{
  background-color: #440bd4;
  margin-left:2%; margin-top:-3%; margin-bottom: 1%;
  transition-duration: 0.4s;
}

.project{
  width: 700px;
  padding-left:40px;
  padding-top:20px;
}

.mine{
  color: #19b956;
}

.classified{
  color: #3bf08c;
  text-align:left;
  position: absolute;
  right: 0px;
}

.about{
  width: 100%;
  height: 1050px;
}

.personal{
  background-color: #585BD4;
}


.top{
  color: #d41111;
}

.tawp{
  background-color: #31d97c;
  width: 500px;

}

.container{
  border-style: solid;
  margin: auto;
  text-align: center;
  width: 30%;
}

 /* #each{
  font-size: 50px;
  color: #31d97c;
  display: block;
} */

/* #bink{
  color: #31d97c;
  font-size: 55px;
  display: block;
} */

#rate{
  font-size: 40px;
  width: 400px;
}

#cal{
background-color: #8955f5;
color: #31d97c;
border: 2px solid #8c1aff;
font-size: 70px;
}

#boomer:before {
  content: "Tip amount";
  font-size: 20px;
  color: #31d97c;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#boomer small {
  font-size: 20px;
  color: #31d97c;
  font-weight: bold;
  display: block;
}
